.homepage-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 150px;
}

.homepage-top-logo {
  width: 10%;
  margin: 50px;
}

.homepage-top-header {
  font-size: 5rem;
  font-family: "CaviarDreams-Bold";
  font-weight: bold;
  margin: 10px 0;
}

.homepage-top-desc {
  font-family: "DMSans-Regular";
  font-size: 30px;
  width: 80%;
  color: #c4c4c4;
  margin-top: 30px;
}

.homepage-data {
  position: absolute;
  top: 122%;
  left: 0%;
  z-index: 10;
}

.wwd-data {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 20;
}

/* utility */
.font-gradiant {
  background-image: linear-gradient(180deg, #f68c59, #a80f14);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
