.top-img {
  background-image: url("../resources/PricingBanner.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh + 100px);
  width: 100%;
}

.pricing-cards {
  background-color: #1e1e1e;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 100%;
  left: 0%;
}

/* .services-img {
  background-image: url("../resources/ServicesBanner.png");
  background-size: cover;
  background-position: center;
  height: calc(100vh + 100px);
  width: 100%;
} */
