@font-face {
  font-family: "CaviarDreams-Regular";
  src: url("../public//fonts/CaviarDreams.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CaviarDreams-Bold";
  src: url("../public//fonts/CaviarDreams_Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CaviarDreams-BoldItalic";
  src: url("../public//fonts/CaviarDreams_BoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CaviarDreams-Italic";
  src: url("../public//fonts/CaviarDreams_Italic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMSans-Regular";
  src: url("../public//fonts/DM_Sans/static/DMSans-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMSans-Medium";
  src: url("../public//fonts/DM_Sans/static/DMSans-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMSans-Italic";
  src: url("../public//fonts/DM_Sans/static/DMSans-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMSans-SemiBold";
  src: url("../public//fonts/DM_Sans/static/DMSans-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMSans-SemiBoldItalic";
  src: url("../public//fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}
