@font-face {
  font-family: "CaviarDreams-Regular";
  src: local("YourFont-Regular"), url("../public//fonts/CaviarDreams.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CaviarDreams-Bold";
  src: local("YourFont-Regular"), url("../public//fonts/CaviarDreams_Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CaviarDreams-BoldItalic";
  src: local("YourFont-Regular"),
    url("../public//fonts/CaviarDreams_BoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CaviarDreams-Italic";
  src: local("YourFont-Regular"),
    url("../public//fonts/CaviarDreams_Italic.ttf");
  font-weight: normal;
  font-style: normal;
}
